<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="3"
    android:versionName="@string/txt_app_version">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="SCVADebug"
        android:icon="@drawable/icon"
        android:label="@string/txt_app_name"
        tools:replace="android:icon,android:name,android:label">

        <activity
            android:name=".activities.PinVerificationActivity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/txt_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SCVA"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activities.BaseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ScheduleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.TestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.RigControlActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".activities.PermissionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ImageViewerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.CustomizeImageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AllChatsActivity"
            android:exported="true"
            android:label="All Chats"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.UserChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ContactsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AddContactActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.KeysActivity"
            android:exported="true"
            android:label="Keys"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.LogsActivity"
            android:exported="true"
            android:label="Logs:"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ConfigurationsActivity"
            android:exported="true"
            android:label="Add Key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AddConfigurationActivity"
            android:exported="true"
            android:label="Add Key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AddKeyActivity"
            android:exported="true"
            android:label="Add Key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.KeyInfoActivity"
            android:exported="true"
            android:label="Key Info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ChangeVerificationPINActivity"
            android:exported="true"
            android:label="Key Info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AddPasswordBasedKeyActivity"
            android:exported="true"
            android:label="Add Key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ImportKeyActivity"
            android:exported="true"
            android:label="Import Key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="myPreferences"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".Processor" />

        <activity
            android:name=".imagePicker"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name=".myFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>